/* You can add custom styles here. */

//@import "plugins/numbered";
@import "plugins/scrollbars";

#header-desktop {
    padding: 1% 8%;
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
    .book-page {
        padding-top: 0;
    }
}

.markdown {
    h1 {
        font-weight: normal;
    }
}